<% if family.visits.empty? %>
  <p>Não há visitas registradas para esta família</p>
<% else %>
  <h6 class="text-lg font-bold">Visitas da família</h6>
  <% total_visits = family.visits.count %>
  <% visits_data = family.visits.order(visit_date: :desc, id: :desc).each_with_index.map do |visit, index|
      [
        { header: 'Nº', content: total_visits - index, id: "visit-number-#{visit.id}" },
        { header: 'Data da Visita', content: I18n.l(visit.visit_date, format: '%A, %d de %B de %Y'), id: "visit-date-#{visit.id}" },
        { header: 'Projeto', content: visit&.visited_project&.project&.name, id: "visit-project-#{visit.id}" },
        { header: 'Região', content: visit&.visited_project&.region&.name, id: "visit-region-#{visit.id}" },
        { 
          header: 'Observações', 
          content: visit.observations.last&.observation || 'Sem observações', 
          id: "visit-observations-#{visit.id}",
          class: "px-6 py-4 text-sm text-gray-500 max-w-[450px] whitespace-normal break-words text-left"
        },
        { 
          header: 'Ações', 
          content: link_to('Editar', edit_family_visit_path(family, visit), class: 'text-blue-600 hover:text-blue-800'),
          id: "visit-actions-#{visit.id}"
        }
      ]
    end %>
  
  <%= data_table(visits_data) %>
<% end %>
