<div id="<%= dom_id region %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= region.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= region.description %>
  </p>

</div>
