<% if family.nil? %>
  <p>Não há membros adicionados para esta família</p>
<% else %>
  <h6 class="text-lg font-bold">Membros da família: <%= family.members.count %> <%= family.members.count == 1 ? 'pessoa' : 'pessoas' %></h6>
<% members_data = family.members.reject { |member| member.name.blank? }.map do |member|
    [
      { header: 'Nome', content: member.name, id: "member-name-#{member.id}" },
      { header: 'Idade', content: member.age, id: "member-age-#{member.id}" },
      { header: 'Papel', content: member.role.presence || '', id: "member-role-#{member.id}" },
      { 
        header: 'Já aceitou Jesus?', 
        content: tag.div(class: "flex justify-center items-center", data: { controller: "toggle-member" }) do
          check_box_tag(
            "member_firm_in_faith_#{member.id}",
            "1",
            member.firm_in_faith,
            data: {
              action: "change->toggle-member#toggle",
              member_id: member.id,
              family_id: family.id,
              toggle_member_target: "checkbox"
            },
            class: "sr-only peer"
          ) +
          label_tag(
            "member_firm_in_faith_#{member.id}",
            class: "flex w-[51px] h-[31px] bg-gray-200 peer-focus:outline-none rounded-full peer 
                   peer-checked:after:translate-x-[20px] peer-checked:bg-blue-600 
                   after:content-[''] after:absolute after:top-[2px] after:left-[2px] 
                   after:bg-white after:border after:rounded-full after:h-[27px] after:w-[27px] 
                   after:transition-all relative cursor-pointer"
          ) do
            tag.span(member.firm_in_faith ? "Sim" : "Não",
                    class: "absolute left-[60px] top-[5px] text-sm",
                    data: { toggle_member_target: "status" })
          end
        end,
        id: "member-faith-#{member.id}"
      }
    ]
  end %>
  
  <%= data_table(members_data) %>
<% end %>

